###### Table are stored as Matrices in R

###### Indexing

In [ ]:
In R indexing always start From 1

In [ ]:
A[3,4] # 3 represent as row and 4 represent as column

In [ ]:
A[1, ]   #mean the  first row not any specific column

In [ ]:
A[ ,4]  #mean the  fourth column not any specific row

In [2]:
# Number and character can't be in same matrix then it will be character

##### Building Matix

In [ ]:
# 3 way to nuild matrix
cbind()
rbind()
matrix()

In [3]:
# matrix representation by matrix()

In [5]:
mydata <- 1:20
A <- matrix(mydata, 4 ,5)  #data, row, col
A
#data go top to bottom

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    5     9   13   17
[2,] 2    6    10   14   18
[3,] 3    7    11   15   19
[4,] 4    8    12   16   20

In [7]:
A[3,4]   #represent each value

[1] 15

In [8]:
B <- matrix(mydata, 4,5, byrow=T)
B  #left to right

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20

In [14]:
B[2,5]

[1] 10

In [15]:
# rbind() representation

In [16]:
r1 <- c("I", "am", "R", "Developer")
r2 <- c("Love", "with", "R")
r3 <- c("Lets", "do", "great", "things")

In [17]:
C <- rbind(r1, r2, r3)

Warning message in rbind(r1, r2, r3):
"number of columns of result is not a multiple of vector length (arg 2)"

In [18]:
C

   [,1] [,2] [,3]  [,4]
r1 I    am   R     Developer
r2 Love with R     Love
r3 Lets do   great things

In [19]:
#cbind representation

In [30]:
c1 <- -1:-5
c2 <- 1:5

In [31]:
D <- cbind(c1, c2)
D

     c1 c2
[1,] -1 1
[2,] -2 2
[3,] -3 3
[4,] -4 4
[5,] -5 5

#### Naming DimenSions

In [32]:
# you can give any arbitary name for Row and Column

In [39]:
# names(Charlie) <- c("A", "B", "C", "D", "E")
# names(Charlie)

In [43]:
# clear names
# names(Charlie) <- NULL

In [46]:
tem.vec <- rep(c("A", "B", "C", "D", "E"), times=3)   # times mean how much time the whole vector

In [47]:
tem.vec

 [1] "A" "B" "C" "D" "E" "A" "B" "C" "D" "E" "A" "B" "C" "D" "E"

In [50]:
tem.vec <- rep(c("A", "B", "C", "D", "E"), each=3) #each mean each value replicate not whole vector

In [51]:
tem.vec

 [1] "A" "A" "A" "B" "B" "B" "C" "C" "C" "D" "D" "D" "E" "E" "E"

In [57]:
Bond <- matrix(tem.vec, 3,5)
Bond

     [,1] [,2] [,3] [,4] [,5]
[1,] A    B    C    D    E
[2,] A    B    C    D    E
[3,] A    B    C    D    E

In [69]:
# rownames("Bravo") <- c(2,3,4,5,6)   these process could apply to identify arbitary row and column name
# colnames(Bravo) <- c(2,3,4,5,6)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:37: unexpected symbol
1: rownames("Bravo") <- c(2,3,4,5,6)   these
                                        ^

### Matrix Operation

In [70]:
# See in Dataset example

#### Matplot function

In [71]:
# ?matplot()

In [72]:
# for transposing any matrix just type "t"

In [ ]:
"""when using matplot function just check which you want to plot if column then no prblm but if rwo then transport"""

In [73]:
# See in dataset examples

### Subsetting

In [74]:
# See in the dataset part

In [75]:
#  also matplot

 ###  Function Creation

In [76]:
# See in Dataset

In [ ]:
'''myPlot <- function(parameter){
    
}'''
# myplot(parameter)    calling the function   
# its a template of making function